@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');


:root{
    --roxo:#8a3fbf;
    --branco: #ffff;
    --verde: #00E280;
    --azul: #20455d;
}
*{
    font-family: "Varela Round", sans-serif;
    font-weight: 400;
    text-align: center;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Varela Round", sans-serif;
    margin: 0%;
    padding: 0%;
    background-image: url(/Fotos/Fundo\ Site\ Sem\ Cor\ -.png);
}
header{
    background-image: linear-gradient(180deg, #893FBF 5%, #01111B52 100%);
    color: var(--branco);
    display: flex;
    align-items: end;
    justify-content: center;
    border-bottom: solid 2px var(--verde) ;
    padding-top: 5px;
    width: 100%;
    position: relative;
    z-index: 10;
}
header > a , i{
    margin: 0px 5px 0px 5px;
    font-size: 20px;
    color: var(--branco);
    text-decoration: none;
    transition: transform 0.3s ease;
}
header > a :hover{
    color: var(--verde);
    transform: scale(1.2);
}
.faixa-social.oculta {
    display: none;
  }
#logo-header{
    height: 50px;
    margin: 0px 200px ;
}
nav{
    display: flex;
    width: 100%;
    background-color: var(--roxo);
    justify-content: center;
    padding: 5px 0px 5px 0px;
    position: relative;
    z-index: 20;
    transition: all 0.3s ease;
}
.navbar-roxa.fixa {
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  }
nav > a {
    margin: 0px 20px 0px 20px;
    font-size: 20px;
    color: var(--branco);
    transition: transform 0.3s ease; 
}
nav > a:hover{
        color: #00E280;
        transform: scale(1.2);
}
nav > i{
    border-left: 1px solid var(--branco);
    margin: 5px 0px 5px 0px;
}
.paginas{
    text-decoration: none;
    cursor: pointer;
    font-size:large ;
    font-weight: 600;
}

.paginas:hover{
    color: var(--verde);
  }

#entre{
    background-color: var(--verde);
    height: 38px;
    width: 200px;
    border-radius: 10px;
    border: none;
    margin-right: 20px;
    font-size:medium;
    transition: 0.3s;
}
#entre:hover{
    color: white;
}

#banner{
    display: flex;
    background-image: linear-gradient(180deg, #893fbf9e 0%, var(--roxo) 100%);
    width: 100%;
    justify-content: center;
}
#img-inicio{
    height: 100%;
    max-width: 100%;
    margin: 26px 0px 30px 0px;
}
#cont-filt{
    display: flex;
    flex-direction: row;
    width: 1000px;
    color: black;
    border-top: solid 2px var(--roxo);
    border-bottom: solid 2px var(--roxo);
    justify-content: space-evenly;
}
#conteiner{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 50px;
}
#temas{
    width: 200px;
    margin-top: 15px;
}
#campos{
    width: 410px;
}
.filtros{
    display: flex;
    width: 100%;
    margin: 20px 0px 20px 0px;
    flex-direction: column;
    background-color: #E4DCFD;
    align-items: baseline;
    border: solid 2px var(--roxo);
    padding: 5px 30px 20px 10px;
    border-radius: 20px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.538) ;
}
.titulos{
    display: flex;
    justify-content: center;
    text-decoration: underline;
    width: 100%;
    font-size: larger;
    font-weight: 900;
}
#temas > label{
    width: 200px;
}
input[type="checkbox"] {
    appearance: none;
    background-color: transparent;
    width: 20px;
    height: 20px;
    border: 1px solid black;
    border-radius: 4px;
    cursor: pointer;
    position: relative;
  }
input[type="checkbox"]:checked{
    background-color: var(--roxo);
  }
input[type="checkbox"]:checked::after {
    color: black;
    content: "✔";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
  }
label{
    display: flex;
    align-items: center;
    padding-top: 10px;
  }
#main{
    height: 100%;
    display: flex;
    justify-content: center;
}
.pdf{
    height: 450px;
    width: 290px;
    margin-top: 20px;
    border: solid 2px black;
    border-radius: 10px;
    background-color: var(--azul);
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.538) ;
    padding-bottom: 5px;
}
.imgPdf{
    height: 89%;
    width: 100%;
    border-radius: 10px;
}
#planoAula{
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    max-width: 1000px;
    justify-content: space-around;
    margin-top: 20px;
}
.button{
    background-color: var(--verde);
    height: 40px;
    width: 150px;
    border-radius: 8px;
    border: none;
    font-weight: 700;
    font-size: small;
    margin: 2px 0px 2px 0px;
    transition: transform 0.3s ease;   
}
.button:hover{
    color: white;
    transform: scale(1.1);
}
#carregar{
    background-color: var(--verde);
    height: 40px;
    width: 150px;
    border-radius: 8px;
    border: none;
    font-weight: 700;
    font-size: small;
    margin: 50px 0px 50px 0px;
}
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--azul);
    height: 100%;
    width: 100%;
    color: var(--branco);
}
.texto-container {
    position: relative;
    width: 100%;
    max-width: 800px;
    height: 80px;
    overflow: hidden;
  }

.texto {
    margin-top: 20px;
    position: absolute;
    width: 100%;
    text-align: center;
    font-size: 48px;
    font-weight: bold;
    opacity: 0;
    transform: translateY(-100%);
    transition: all 0.8s ease-in-out;
  }

.ativo {
    opacity: 1;
    transform: translateY(0);
    z-index: 2;
  }

.inativo {
    opacity: 0;
    transform: translateY(100%);
    z-index: 1;
  }
#rodape{
    display: flex;
    width: 100%;
    justify-content: center;
}
#lancamento{
    margin-top: 50px;
    height: 400px;
    width: 500px;
}
#ball{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100px;
    width: 100%;
}
#ass{
    display: flex;
    width: 100%;
    
}
.planos{
    display: flex;
    flex-direction: column;
    margin: 10px;
    background-color: var(--branco);
    color: black;
    width: 350px;
    border: solid 1px;
    border-radius: 20px;
    align-items: center;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.538) ;
    overflow: hidden;
}
.planos > h1{
    background-color:rgb(247, 148, 37) ;
    height: 70px;
    width: 100%;
    margin: 0px;
    align-content: center;
    border-radius: 20px 20px 0px 0px;
    color: var(--branco);
}
.planos > p{
    border-bottom: solid 1px rgba(122, 122, 122, 0.3);
    color : var(--azul);
    font-family:"Varela Round", sans-serif;
    font-size:13px;
    text-align: center;
    width: 80%;
    font-weight: lighter;
}
#ass{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}
.preco {
    text-align: center;
    font-family: Arial, sans-serif;
    color: var(--azul);
  }
  

  .moeda {
    font-size: 24px;
    vertical-align: top;
  }
  
  .valor {
    font-size: 48px;
    font-weight: bold;
  }
  
  .centavos {
    font-size: 20px;
    vertical-align: top;
  }
  
.mensal {
    font-size: 20px;
    text-decoration: underline;
  }
#assinar{
    background-color: #00E280;
    height: 50px;
    width: 130px;
    margin: 0% 100% 10% 100%;
    border-radius: 10px;
    border: none;
    font-size: larger;
    cursor: pointer;
    transition: transform 0.3s ease;
}
#assinar:hover{
    transform: scale(1.07);
    color: white;
}

.card {
    position: relative;
    width: 100%;
    height: 70px;
    background: rgb(247, 148, 37);
    border-radius: 20px 20px 0px 0px;
    color: var(--branco);
    overflow: hidden; 
  }
  
  /* Faixa "POPULAR" */
  .ribbon {
    position: relative;
    top: -50px;
    right: -140px;
    width: 180px;
    height: 13px;
    text-align: center;
    background-color: #00e68a;
    color: white;
    font-weight: bold;
    transform: rotate(45deg);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    padding: 5px 0;
    font-family: Arial, sans-serif;
    font-size: 12px;
    font-weight: lighter;
  }
.icons{
    height: 20px;
    width: 20px;
}
#pag{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    margin-left: 10px;
}
.form-pag{
    height: 80px;
    border-radius: 10px;
    width: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.img-pag{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:var(--verde);
    height: 170px;
    width: 230px;
    border-radius: 20px;
    margin: 10px; 
}
.rodape-texto{
    font-size: 14px;
    width: 200px;
    color: var(--azul);
    font-size: small;
}
.rodape-texto > h1{
    margin-bottom: -3px;
    font-weight: bold;
}
.rodape-texto > p{
    margin-bottom: -3px;
    font-weight: lighter;
}
.principal{
    display: flex;
    border-bottom: solid 2px var(--verde);
    border-top: solid 2px var(--verde);
    padding: 30px 0px 30px 0px;
    margin-top: 50px;    
    width: 100%;
}
.pedidos{
    display: flex;
    flex-direction: column;
    font-size: 15px;
    font-weight: 400;
    line-height: 28px;
    align-items: baseline;
    width: 100%;
    height: 100%;
}
.pedidos > i{
    font-size: 15px;
    line-height: 28px;
}
.pedidos > p{
    text-align: left;
    margin-bottom: -5px;
    font-size: 13px;
    color: #d9d9d9;
}
.pedidos > h1{
    text-align: left;
    font-size: 20px;
    color: #d9d9d9;
}
.pedidos > a{
    text-decoration: none;
    color: #d9d9d9 ;
    font-size: 13px;
    margin-bottom: 10px;
}
.pedidos > a:hover{
    color: var(--verde);
}
#mercado-pago{
    height: 40px;
    width: 140px;
    border-radius: 15px;
    margin-bottom: -10px;
}
#site-seguro{
    height: 30px;
    width: 70px;
}
#rede-rodape{
    border-bottom: solid 2px var(--verde);
    padding-bottom: 20px;
}
#rede-rodape > h1{
    font-size: 20px;
}
#rede-rodape > a ,i {
    font-size: 23px;
    transition: transform 0.3s ease; 
}
#rede-rodape > a :hover{
    color: #00E280;
    transform: scale(1.2);
}
#marcas{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-content: center;
    justify-content: space-evenly;
    font-size: 15px;
    color: #d9d9d9;
    background-color: var(--azul);
    line-height: 5px;
}
#marcas > p{
    margin-left: -150px;
}
.container-animado {
    opacity: 0;
    transform: translateX(100px); /* começa fora da tela à direita */
    animation: entrarDaDireita 0.5s ease-out forwards;
    animation-delay: 0.2s; /* opcional, um pequeno atraso */
  }
  
  @keyframes entrarDaDireita {
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
#img-lojinha{
    height: auto;
    max-width: 98%;
}
#body-lojinha{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#lojinha-carrinho{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    font-size: 20px;
    font-weight: 600;
    color: var(--branco);
}
#carrinho{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--roxo);
    height: 80px;
    width: 100%;
    border-radius: 10px;
    margin: 20px;
    align-items: center;
}
#cart{
    display: flex;
    margin-right: 20px;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}
#icon-cart{
    font-size: 50px;
    font-weight: 100;
}
#icon-cart:hover{
    color: var(--azul);
}
#button > a {
    background-color: var(--verde);
    margin-left: 20px;
    height: 50px;
    font-size: 15px;
    font-weight: 500;
    border-radius: 15px;
    border: none;
    width: 100%;
    cursor: pointer;
}
#login-lojinha{
    background-color: var(--verde);
    height: 50px;
    font-size: 15px;
    font-weight: 500;
    border-radius: 15px;
    border: none;
    width: 100%;
    cursor: pointer;  
    transition: transform 0.3s ease;  
}
#login-lojinha:hover{
    color:var(--branco);
    transform: scale(1.2);
}
#cont-lojinha{
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    width: 100%;
    background-color: black;
}
#produtos{
    font-size: 30px;
    font-weight: 600;
}
#filtros-lojinha{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    margin-top: -20px;
}
#cabeçalho-lojinha{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 95%;
    border-top: solid 2px var(--roxo);
}
.btn-lojinha{
    margin: 10px 10px 0px 10px;
    height: 60px;
    width: 170px;
    border-radius: 10px;
    border: none;
    align-content:center ;
    font-size:15px;
    font-weight: 500;
    color: var(--branco);
    background-image: linear-gradient(180deg, var(--roxo) 0%, var(--azul) 100%);
}
.btn-lojinha:hover{
    background-image: linear-gradient(180deg, var(--verde) 0%, var(--verde) 100%);
    transform: scale(1.2);
}
#produtos-loja{
    border: solid 2px var(--roxo);
    border-radius: 10px;
    margin: 20px 10px 0px 10px;
}
.lojinha-produtos{
    display: flex;
    flex-direction:column;
    align-items: center;
    height: 325px;
    width: 200px;
    border-radius: 10px;
    background-color: white;
}
.imgProdutos{
    height: 200px;
    width: 200px;
    border-radius:10px ;
    box-shadow: 0px 1px 5px rgba(0,0,0,0.2);
}
#conteiner-lojinha{
    display: grid;
    grid-template-columns: repeat(5,1fr);
}
.link-produtos{
    text-decoration: none;
    color: var(--azul);
}
.link-produtos > div > div > h1{
    color: var(--roxo);
    font-weight: 700;
}
.link-produtos :hover > p{
    text-decoration: none;
    color: var(--verde);
}
#limit{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1100px;
    color: var(--branco);
}
#cont-contato{
    display: flex;
    flex-direction: column;
    width: 100%;
}
#cont-contato > h1{
    font-size: 30px;
    font-weight: 600;
}
#principal-contato{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    margin-bottom: 100px;
   
}
#fale-conosco{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--azul);
    height: 100vh;  
    width: 100%;
    margin: 5px;
    border-radius: 10px;
}
#fale-conosco > i{
    font-size: 18px;
    width: 100%;
    text-align: left;
    margin-left: 60px;
}
#perguntas-frequentes{
    background-image: linear-gradient(180deg, var(--roxo) 0%, var(--azul)  100%);
    height: 100vh;
    width: 100%;
    margin: 5px; 
    border-radius: 10px;
}
form > input, textarea, label{
    width: 500px;
    margin-top: -5px;
    text-align: left;
    height: 40px;
    border-radius: 10px;
    border: none;
    font-size: 15px;
    font-weight: 600;
}
#mensagem{
    width: 500px;
    height: 150px;
}
.faq {
    max-width: 700px;
    margin: 0 auto;
    font-family: Arial, sans-serif;
    color: white;
    background: linear-gradient(to bottom right, #802bb1, #5f2c82);
    padding: 30px;
    border-radius: 10px;
  }
  
  .faq h2 {
    text-align: center;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .faq-question {
    width: 90%;
    text-align: left;
    background: none;
    border: none;
    color: white;
    font-size: 18px;
    cursor: pointer;
    padding: 10px 20px;
    position: relative;
  }
  
  .faq-question::before {
    content: "+";
    position: absolute;
    left: -5px;
    font-size: 20px;
    color: white;
    transition: transform 0.3s;
  }
  
.faq-question.active::before {
    content: "−";
    color: var(--verde);
    transform: rotate(180deg);
}
.faq-question.active{
    color: var(--verde);
}
  
.faq-answer {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
    margin-bottom: 15px;
  }
.faq-answer p {
    margin: 20px 45px;
    text-align: left;
}
#faq{
    color: var(--azul);
    border-bottom:solid 2px var(--roxo) ;
}
#enviar{
    background-color: var(--verde);
    color: var(--azul);
    width: 100%;
    margin-top: 10px;
    font-size: 20px;
    font-weight: 600;
    border: none;
    height: 40px;
    border-radius: 15px;
    cursor: pointer;
    transition: 0.5s;
}
#enviar:hover{
    background-color: white;
}
.cont-fal{
    font-size: 25px;
    font-weight: 600;
}
