<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/inicio.css">
    <title>Minha Loja</title>
    </head>
<body>

    <header>
        <h2>Bem-vindo</h2>
        <a class="logout-btn" href="/login">Login</a>
        <a class="logout-btn" href="/logout">Sair</a>
    </header>

    <div class="container">
        <h1>Loja de Exemplos</h1>
        <div class="produtos">
            <div class="produto">
                <h3>Assinatura Mensal</h3>
                <p>Renovação mensal</p>
                <a href="/login"><button class="assinar">Assinar</button></a>
            </div>

            <div class="produto">
                <h3>Assinatura Anual</h3>
                <p>Renovação Anual</p>
                <a href="/login"><button class="assinar">Assinar</button></a>
            </div>
        </div>
    </div>

    <script>
        const userId = "{{ user_id }}";
        console.log("ID do usuário logado:", userId);
    </script>
</body>
</html>
