<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Login</title>
</head>
<body>
    <div id="coruja-login"><img id="img-coruja" src="/static/Coruja-login.png" alt="">
    </div>
    <section>
        <div id="img-login">
                <img  src="/static/Logo.png" alt="">
            </div>
            <div class="login-container">
                <h2>Login</h2>
                <form action="/login" method="POST">
                    <input type="text" name="username" placeholder="Usuário" required>
                    <input type="password" name="password" placeholder="Senha" required>
                    <button id="Entrar" type="submit">Entrar</button>
                </form>
            </div>
    </section>
</body>
    <script src="{{ url_for('static', filename='scripts.js') }}"></script>
</html>
