<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Login</title>
</head>
<body>
      
    <div id="coruja-login"><img id="img-coruja" src="/static/Coruja-login.png" alt="">
    </div>
    <section>
                <div id="cont-img" ><img id="img-login"  src="/static/Logo.png" alt=""></div>
            <div class="login-container">
                <img id="img-login-celular" src="/static/Logo Clique Pedagógico.png" alt="">
                <h2>Login</h2>
                <form action="/login" method="POST">
                    <input type="text" name="username" placeholder="Usuário" required >
                     <input type="password" name="password" id="password" placeholder="Senha" required>
                   <div class="input-container">
                   <button type="button" class="toggle-password" data-target="password">🔒</button>
                   </div>
                
                    <button id="Entrar">Entrar</button>
                    
                </form>
                <a id="esc-senha" href="{{ url_for('auth.esqueci_senha') }}">Esqueci minha senha?</a>
            </div>
           

    </section>
</body>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
    document.querySelectorAll('.toggle-password').forEach(button => {
        button.addEventListener('click', function() {
            const targetId = this.getAttribute('data-target');
            const targetInput = document.getElementById(targetId);

            if (targetInput.type === 'password') {
                targetInput.type = 'text';
                this.textContent = '🔓'; // muda ícone para "ocultar"
            } else {
                targetInput.type = 'password';
                this.textContent = '🔒'; // muda ícone para "mostrar"
            }
        });
    });
});

    </script>
</html>
